<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signup/step2"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Реєстрація
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>3. Дані особи</h2>
  <ion-item>
    <ion-label position="stacked">Прізвище</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Ім’я</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">По батькові</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Стать</ion-label>
    <ion-select placeholder="Оберіть">
      <ion-select-option>Чоловік</ion-select-option>
      <ion-select-option>Жінка</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Контактний телефон</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Додатковий телефон</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Соціальний стан</ion-label>
    <ion-select placeholder="Оберіть">
      <ion-select-option>Не визначено</ion-select-option>
      <ion-select-option>Пенсіонер</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list lines="none">
    <ion-list-header>Категорія</ion-list-header>
    <ion-item>
      <ion-label wrap>Учасник війни</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Мати-героїня</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Багатодітна сім'я</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label wrap>Особа, що потерпіла від Чорнобильської катастрофи</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label wrap>Учасник ліквідації наслідків аварії на Чорнобильській АЕС</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Герой України</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Герой Радянського Союзу</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Герой Соціалістичної Праці</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Дитина</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Одинока мати</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Дитина з інвалідністю</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Особа з інвалідністю III групи</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Дитина війни</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item wrap>
      <ion-label>Особа з інвалідністю внаслідок Другої світової війни</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item wrap>
      <ion-label>Особа з інвалідністю внаслідок війни</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Учасник бойових дій</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Ветеран праці</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Ветеран військової служби</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Особа з інвалідністю I групи</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Особа з інвалідністю II групи</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Інші категорії</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label position="stacked">Індекс</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Населений пункт</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Вулиця</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Будинок</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Квартира</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-button type="button" routerDirection="forward" routerLink="/signup/step4">Продовжити <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
</ion-content>
