<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Реєстрація
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
  <form [formGroup]="form" (ngSubmit)="stepTwo(form.value)">
    <ion-list lines="none">
      <h4>1. Реєстраційні дані</h4>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input formControlName="email" clearInput type="email" inputmode="email" (ionChange)="clearError()"></ion-input>
      </ion-item>
      <p class="validation-error" *ngIf="error && error.email">{{ error.email }}</p>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationErrors.email">
          <p class="validation-error" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
            {{ validation.message }}
          </p>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Пароль</ion-label>
        <ion-input formControlName="password" type="password" (ionChange)="clearError()"></ion-input>
      </ion-item>
      <p class="validation-error" *ngIf="error && error.password">{{ error.password }}</p>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationErrors.password">
          <p class="validation-error" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
            {{ validation.message }}
          </p>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Повторно пароль</ion-label>
        <ion-input formControlName="passwordRepeat" type="password" (ionChange)="clearError()"></ion-input>
      </ion-item>
      <p padding-start class="validation-error" *ngIf="error && error.passwordRepeat">{{ error.passwordRepeat }}</p>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationErrors.passwordRepeat">
          <p class="validation-error" *ngIf="form.get('passwordRepeat').hasError(validation.type) && (form.get('passwordRepeat').dirty || form.get('passwordRepeat').touched)">
            {{ validation.message }}
          </p>
        </ng-container>
      </div>
    </ion-list>
    <p><ion-button type="submit">Продовжити <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button></p>
  </form>
</ion-content>
