<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Реєстрація</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/signup/step1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
  <ion-list lines="none">
    <h4>2. Тип особи</h4>
    <ion-item>
      <ion-label position="floating">Тип особи</ion-label>
      <ion-select placeholder="Оберіть тип особи" cancelText="Відміна" [(ngModel)]="personType">
        <ion-select-option value="f">Фізична особа</ion-select-option>
        <ion-select-option value="u">Юридична особа</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="ion-padding">
      <p><ion-button type="button" routerDirection="forward" [routerLink]="getNextStep()" [disabled]="!personType">Продовжити <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button></p>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" text-center>
    <ion-title>
      <p>© 2019 Державна установа</p>
      <p>«Урядовий контактний центр»</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
