<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Профіль</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment #pageSelect value="personal">
    <ion-segment-button value="registration">
      <ion-label>Реєстраційні дані</ion-label>
    </ion-segment-button>
    <ion-segment-button value="personal">
      <ion-label>Особисті дані</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list lines="none" *ngIf="pageSelect.value === 'registration'">
    <ion-item>
      <ion-label position="stacked">Email:</ion-label>
      <p>{{ me?.email }}</p>
    </ion-item>
    <section>
      <ion-button expand="block" routerLink="/members/change-password" routerDirection="forward">Змінити пароль</ion-button>
    </section>
  </ion-list>
  <ion-list lines="none" *ngIf="pageSelect.value === 'personal'">
    <ion-item>
      <ion-label position="stacked">Прізвище:</ion-label>
      <p>{{ profile?.surname }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ім’я:</ion-label>
      <p>{{ profile?.name }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">По батькові:</ion-label>
      <p>{{ profile?.patronymic }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Стать:</ion-label>
      <p>{{ getGenderName(profile?.gender) }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Контактний телефон:</ion-label>
      <p>{{ profile?.phone }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Додатковий телефон:</ion-label>
      <p>{{ profile?.additional_phone }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Соціальний стан:</ion-label>
      <p>{{ profile?.social_type }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Категорія:</ion-label>
      <p *ngFor="let category of profile?.category">{{ category }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Індекс:</ion-label>
      <p>{{ profile?.zip }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Місто:</ion-label>
      <p>{{ profile?.city.label }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Вулиця:</ion-label>
      <p>{{ profile?.street.label }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Будинок:</ion-label>
      <p>{{ profile?.building }}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Квартира:</ion-label>
      <p>{{ profile?.flat }}</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" text-center>
    <ion-title>
      <p>© 2019 Державна установа</p>
      <p>«Урядовий контактний центр»</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
