<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Авторизація</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!apiService.isAuthenticated()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Увійдіть або <a routerLink="/signup/step1" routerDirection="forward">Зареєструйтеся</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form>
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input clearInput type="email" inputmode="email" #email></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Пароль</ion-label>
      <ion-input type="password" #password></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" (click)="apiService.login(email.value, password.value);">Увійти</ion-button>
        </ion-col>
        <ion-col class="ion-padding-vertical">
          <a routerLink="/restore">Забули пароль?</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-content padding *ngIf="apiService.isAuthenticated()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Ви увійшли як {{ profile?.name + " " + profile?.surname }}</p>
        <a (click)="apiService.logout()">Вийти</a>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" routerLink="/members/dashboard" routerDirection="forward">Особистий кабінет</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
