<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Авторизація</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!apiService.isAuthenticated()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Увійдіть або <a routerLink="/signup/step1" routerDirection="forward">Зареєструйтеся</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="form" (ngSubmit)="login(form.value)">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input clearInput type="email" inputmode="email" formControlName="email" (ionChange)="clearError()"></ion-input>
      </ion-item>
      <p class="validation-error" *ngIf="error && error.email">{{ error.email }}</p>
      <ng-container *ngFor="let validation of validationErrors.email">
        <p class="validation-error" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
          {{ validation.message }}
        </p>
      </ng-container>
      <ion-item>
        <ion-label position="floating">Пароль</ion-label>
        <ion-input type="password" formControlName="password" (ionChange)="clearError()"></ion-input>
      </ion-item>
      <p class="validation-error" *ngIf="error && error.password">{{ error.password }}</p>
      <ng-container *ngFor="let validation of validationErrors.password">
        <p class="validation-error" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
          {{ validation.message }}
        </p>
      </ng-container>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary" type="submit">Увійти</ion-button>
          </ion-col>
          <ion-col class="ion-padding-vertical">
            <a routerLink="/restore">Забули пароль?</a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
<ion-content padding *ngIf="apiService.isAuthenticated()">
  <ion-list>
    <ion-item>
      Ви увійшли як {{ profile?.name + " " + profile?.surname }}
      <a (click)="apiService.logout()" href slot="end">Вийти</a>
    </ion-item>
    <section>
      <ion-button expand="block" routerLink="/members/dashboard" routerDirection="forward">Особистий кабінет</ion-button>
    </section>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" text-center>
    <ion-title>
      <p>© 2019 Державна установа</p>
      <p>«Урядовий контактний центр»</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
