<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="getBackPath()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Реєстрація
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>На вашу електронну адресу iwueriwueyriuw@lfklskdjf.com надіслано лист для підтверження реєстрації.</p>
    <p> свою пошту та слідкуйте інструкціям у листі.</p>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="block" routerLink="" routerDirection="root">На головну</ion-button>
            </ion-col>
            <ion-col>
                <a>Відправити ще раз</a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
