<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="getBackPath()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Реєстрація
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <h4>4. Підтвердження</h4>
    <ion-item>
      <p>На вашу електронну адресу {{ signupService.signupState.value.email }} надіслано лист для підтверження реєстрації.</p>
    </ion-item>
    <ion-item>
      <p>Перевірте свою пошту та слідкуйте інструкціям у листі.</p>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="block" routerLink="" routerDirection="root">На головну</ion-button>
            </ion-col>
            <ion-col class="ion-padding-vertical">
                <a routerLink="" (click)="sendAgain()">Відправити ще раз</a>
            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" text-center>
    <ion-title>
      <p>© 2019 Державна установа</p>
      <p>«Урядовий контактний центр»</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
