<ion-app>
  <ion-split-pane>
    <ion-menu contentId="content">
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <ion-item [routerLink]="p.url" [class.active-item]="p.url === selectedUrl" *ngIf="p.authOnly === authenticationService.isAuthenticated() || p.authOnly === null">
              {{p.title}}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
