<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Створення нового звернення</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <ion-label position="stacked">
      <h3>Питання</h3>
    </ion-label>
    <ion-item lines="none" detail (click)="selectLevel1()" button>
      <p>{{ this.question.getFullName() }}</p>
    </ion-item>
    <ion-label position="stacked">
      <h3>Населений пункт, якого стосується питання</h3>
    </ion-label>
    <ion-item>
      <ion-textarea
          #locationSelect
          type="text"
          debounce="500"
          placeholder="Вкажіть населений пункт"
          (ionChange)="getLocation($event); locationSelect.setFocus();"
          [value]="getFullLocation(selectedLocation)"
      ></ion-textarea>
    </ion-item>
    <ion-list lines="none" *ngIf="locations.length > 0">
      <ion-item button *ngFor="let item of locations" (click)="selectLocation(item)">
        <p>{{ getFullLocation(item) }}</p>
      </ion-item>
    </ion-list>
    <ion-label position="stacked">
      <h3>Текст звернення</h3>
    </ion-label>
    <ion-item lines="none">
      <ion-textarea
          [(ngModel)]="appealText"
          rows="10"
          maxlength="2500"
      ></ion-textarea>
    </ion-item>
    <p><small>Доступна кількість символів: {{ 2500 - appealText.length }}</small></p>
    <ion-item>
      <ion-list>
        <ion-item *ngFor="let f of files; index as i">
          <ion-icon name="trash" (click)="removeFile(i)" slot="end"></ion-icon>
          {{f.name}}
        </ion-item>
      </ion-list>
    </ion-item>
    <section>
      <ion-button *ngIf="files.length < 5" expand="block" (click)="chooseFile()">Додати файли</ion-button>
      <ion-text *ngIf="uploadError" color="danger">{{ uploadError }}</ion-text>
    </section>
    <ion-item>
      <ion-text><small>До звернення можливо долучити 5 файлів з допустимим розширенням: pdf, doc, docx, xls, xlsx, rtf, txt, jpeg , jpg, bmp, png, tiff. Розмір кожного файлу не повинен перевищувати 5Мб.</small></ion-text>
    </ion-item>
  </ion-list>
  <section>
    <ion-button expand="block" [disabled]="!question.selected || !selectedLocation || appealText.length < 1" (click)="sendAppeal()">Відправити звернення</ion-button>
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" text-center>
    <ion-title>
      <p>© 2019 Державна установа</p>
      <p>«Урядовий контактний центр»</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
