<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button routerLink="/members/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Створення нового звернення</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <ion-label position="stacked">
      <h3>Питання</h3>
    </ion-label>
    <ion-item lines="none" detail (click)="select1level1()" button>
      <p>{{ this.question.getFullName() }}</p>
    </ion-item>
    <ion-label position="stacked">
      <h3>Населений пункт, якого стосується питання</h3>
    </ion-label>
    <ion-item>
      <ion-textarea
          #locationSelect
          type="text"
          debounce="500"
          placeholder="Вкажіть населений пункт"
          (ionChange)="getLocation($event); locationSelect.setFocus();"
          [value]="getFullLocation(selectedLocation)"
      ></ion-textarea>
    </ion-item>
    <ion-list lines="none" *ngIf="locations.length > 0">
      <ion-item button *ngFor="let item of locations" (click)="selectLocation(item)">
        <p>{{ getFullLocation(item) }}</p>
      </ion-item>
    </ion-list>
    <ion-label position="stacked">
      <h3>Текст звернення</h3>
    </ion-label>
    <ion-item lines="none">
      <ion-textarea
          [(ngModel)]="appealText"
          rows="10"
          maxlength="2500"
      ></ion-textarea>
    </ion-item>
    <p><small>Доступна кількість символів: {{ 2500 - appealText.length }}</small></p>
  </ion-list>
  <section>
    <ion-button expand="block" [disabled]="!question.selected || !selectedLocation || appealText.length < 1" (click)="sendAppeal()">Відправити звернення</ion-button>
  </section>
</ion-content>
