<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Змінити пароль</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <form [formGroup]="form" (ngSubmit)="savePassword(form.value)">
      <ion-item>
        <ion-label position="floating">Новий пароль</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <p class="validation-error" *ngIf="error && error.password">{{ error.password }}</p>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationErrors.password">
          <p class="validation-error" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
            {{ validation.message }}
          </p>
        </ng-container>
      </div>
      <ion-item lines="none">
        <ion-label position="floating">Повторно пароль</ion-label>
        <ion-input type="password" formControlName="passwordRepeat"></ion-input>
      </ion-item>
      <p padding-start class="validation-error" *ngIf="error && error.passwordRepeat">{{ error.passwordRepeat }}</p>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationErrors.passwordRepeat">
          <p class="validation-error" *ngIf="form.get('passwordRepeat').hasError(validation.type) && (form.get('passwordRepeat').dirty || form.get('passwordRepeat').touched)">
            {{ validation.message }}
          </p>
        </ng-container>
      </div>
      <section>
        <ion-button type="submit" slot="start">Зберегти</ion-button>
        <ion-button routerLink="/members/profile" routerDirection="back" type="reset" slot="end">Відмінити</ion-button>
      </section>
    </form>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" text-center>
    <ion-title>
      <p>© 2019 Державна установа</p>
      <p>«Урядовий контактний центр»</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
