<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Мої звернення</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button routerLink="/members/new-appeal">Створити звернення</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="text" placeholder="Пошук за номером" (ionChange)="this.setNumberFilter($event)"></ion-input>
        </ion-col>
        <ion-col>
          <ion-select (ionChange)="this.setStatusFilter($event)" placeholder="Статус" cancelText="Відміна" [interfaceOptions]="{ header: 'Статус' }" value="">
            <ion-select-option *ngFor="let appealStatus of this.appealsStatuses" [value]="appealStatus.value">{{ appealStatus.label }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-item *ngFor="let item of this.filterAppeals()" (click)="loadDetails(item.id);" button detail>
      <ion-label>
        <h2>№ звернення: {{ item.external_id }}</h2>
        <p class="ion-nowrap"><strong>Дата: </strong>{{ apiService.formatDateTime(item.created_at * 1000, 'yyyy/MM/dd') }}</p>
        <p class="ion-nowrap"><strong>Розподілено: </strong>{{ item.destination }}</p>
        <p class="ion-nowrap"><strong>Статус: </strong>{{ item.status ? item.status : "Не визначено" }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="50px" (ionInfinite)="loadPageData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Завантаження...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="refresh" (click)="refresh()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" text-center>
    <ion-title>
      <p>© 2019 Державна установа</p>
      <p>«Урядовий контактний центр»</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
